/* Write your CSS here */
.app-container {
  height: 100vh;
  background-color: #93c5fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  height: 250px;
  width: 450px;
  background-color: #f8fafc;
  border-radius: 8px;
  padding-top: 35px;
  padding-left: 35px;
}
.heading {
  font-family: 'Roboto';
  font-size: 25px;
  color: #000000;
}
.option-class {
  height: 30px;
  width: 150px;
  border: 1px solid #cbd2d9;
  margin-right: 10px;
}
.paragraph {
  font-weight: 600;
  font-family: 'roboto';
  font-size: large;
  color: #1e293b;
}
